
<!DOCTYPE html>
<html>
  <head>
    <title>In a Jiff</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="header">
      <h1>In a Jiff</h1>
      <form class="search-form" method="POST" action="/">
        <input class="search-input" type="text" name="search_query" id="search_query" placeholder="Search for a GIF...">
        <button class="search-button">Search</button>
      </form>
    </div>
    <div class="featured-gif">
      <h2>Featured GIF:</h2>
      <img src="https://media.tenor.com/BjLzYkRql5cAAAAC/omori-omori-tenor.gif">
      <div class="featured-gif-caption">
        <h3>OMORI TENOR GIF</h3>
        <p>This GIF was me trying to figure out V2 Tenor GIF API</p>
      </div>
    </div>
    <div class="popular-searches">
      <h2>Popular Searches:</h2>
      <ul>
        <li>Anime</li>
        <li>Manga</li>
        <li>Memes</li>
      </ul>
    </div>
  </body>
</html>